body {
background: salmon;
font-family: system-ui, sans-serif;
font-size: 20px;
margin: 2em;
}

img{
  max-width: 100%;
}
  nav {
    background: rgba(255,255,255,0.75);
    display: flex;
    box-shadow: 0 2px 2px rgba(0,0,0,1);
    border-radius: 5px;
  }

nav a {
  color:black;
  padding: 20px;
  text-decoration:none;
  transition: background-color:0.4s;
}

nav a.active {
  background: rgba(255,255,255,0.5);
  border-radius: 5px;
}

nav a:hover {
  background: rgba(5,255,255,0.4);
}

.cartdgroup {
  display:flex;
  margin-left: -10px;
  margin-right: -10px;
}

.card {
  background: rgba(255,255,255,0.5);
  border-radius: 10px;
  box-shadow: 0 2px 2px rgba(0,0,0,0.5);
  padding: 20px;
  border: solid 10px white;
  margin: 10px;
  flex-basis: 1;
  transition: box-shadow 1s, transform 1s;

}

.card:hover {
  box-shadow: 0 3px 6px rgba(0,0,0,1);
  transform: scale(1.05);
}
