body {
background: salmon;
font-family: system-ui, sans-serif;
font-size: 20px;
}
  nav {
    background: rgba(255,255,255,0.75);
    display: flex;
  }

nav a {
  color:black;
  padding: 20px;
  text-decoration: none;
  transition: background-color:0.4s;
}

nav a.active {
  background: white;
}

nav a:hover{
  background: rgba(255,255,255,0.4);
}
